<div class = "flash_msg">
  <%= flash[:notice] %>
</div>

<h1>showページです</h1>
<p>編集中です</p>

    <p>Title</p>
    <span><%= @book.title %></span>

    <p>Body</p>
    <span><%= @book.body %></span>

    <!--editページへのリンク-->
    <span>
      <%= link_to "Edit", edit_book_path(@book.id) %>|
    </span>

    <!--indexページへのリンク-->
    <span>
      <%= link_to "Back", books_path %>
    </span>